<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Panaderia Ogikoxkor</title>
</head>

<body>

    <div th:include="plantillas.html::cabecera"></div>

	<div th:include="plantillas.html::menu"></div>
   

    <main>
        <section>
            Gestionar productos
        </section>
    </main>

	
	<div th:include="plantillas.html::pie"></div>
    



</body>

</html>