<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
	<script src="js/sha256login.js"></script>
    <title>Concierticket</title>
</head>

<body>

    <div th:include="plantillas.html::cabecera_cli"></div>

	<div th:include="plantillas.html::menu_cli"></div>
   

    <main>
		
		<section>
			
		  <h2 th:text="'Todas tus entradas '+${cliente_login.user}"> </h2>

		  <article th:each="entrada : ${entradasCliente}">
		    <div class="ticket-left">
		      <img src="iconos/concierticket.png" alt="Logo" style="height: 110px; margin-right: 15px;">
		    </div>

		    <div class="ticket-center">
		      <h2 th:text="${entrada.concierto_id.grupo}">Nombre Artista</h2>
		      <img th:src="@{'imagenes/' + ${entrada.concierto_id.foto}}" alt="Imagen concierto" />
		      <h3 th:text="${entrada.concierto_id.ubicacion_id.nombre_sala}">Sala</h3>
		      <h4 th:text="${entrada.concierto_id.ubicacion_id.direccion}">Dirección</h4>
		    </div>

		    <div class="ticket-right">
		      <h3>PRECIO: <span th:text="${entrada.concierto_id.precio} + '€'"></span></h3>
		      <h3>FECHA: <span th:text="${entrada.concierto_id.fecha}"></span></h3>
		      <h4>PUERTAS: 21:00</h4>
		      <img th:src="@{'imagenes/qr/qr_' + ${entrada.id} + '.png'}" alt="QR" height="120px" />
		      <!--<h4>COD: <span th:text="${entrada.codigo}">123456</span></h4>-->
		    </div>
		  </article>
		  
		</section>
		
    </main>

	
	<div th:include="plantillas.html::pie"></div>
    



</body>

</html>