<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
	<script src="js/sha256login.js"></script>
    <title>Concierticket</title>
</head>

<body>

    <div th:include="plantillas.html::cabecera_cli"></div>

	<div th:include="plantillas.html::menu_cli"></div>

    <main>
		
		<section class="conciertos-cliente">
			
		     <article th:each="elem : ${conciertosCliente}">
				
		        <img th:src="@{'imagenes/' + ${elem.foto}}" height="120px" />
		        <h2 th:text="${elem.grupo}"></h2>
		        <h3 th:text="${elem.ubicacion_id.nombre_sala}"></h3>
				
		        <a th:href="@{/MenuEntradasUsuConci(id=${elem.id})}">Ver Entradas compradas</a>
				
		    </article>
			
		</section>
		
    </main>

	<div th:include="plantillas.html::pie"></div>
 
</body>

</html>